{{ define "main" }}
{{- partial "slider.html" . -}}
<div class="container">
  {{ .Content }}

  <div class='embedsocial-instagram' data-ref="2da33d4f5989b71db11c285a59f5a76a75683268"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialInstagramScript"));</script>
  <div class="testimonial">
    <i class="fas fa-quote-right fa-3x quotes"></i>
    {{ $testimonials := site.Data.testimonials }}
    {{ range $testimonials }}
    {{ if eq .id "1" }}
    <p>{{ .testimonial}}</p>
    <h4>{{ .name }}</h4>
    <p>{{ .date }}</p>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}