{{ define "main" }}
{{- partial "slider.html" . -}}
<div class="container">
  {{ .Content }}

  <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/ea06ceb52368518ebeb4fd24ea58250a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

  <div class="testimonial">
    <i class="fas fa-quote-right fa-3x quotes"></i>
    {{ $testimonials := site.Data.testimonials }}
    {{ range $testimonials }}
    {{ if eq .id "1" }}
    <p>{{ .testimonial}}</p>
    <h4>{{ .name }}</h4>
    <p>{{ .date }}</p>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}