<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <main id="content">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    <script>
        document.querySelector('.menu-btn').addEventListener('click', () => document.querySelector('.main-menu')
            .classList.toggle('show'));
    </script>
    <script src="js/slider.js"></script>
    <script src="/js/form-validation.js"></script>
    <script>
        window.onload = function () {
            baguetteBox.run('.baguetteBoxOne');
        };
    </script>
</body>

</html>