{{ define "main" }}
{{- partial "hero.html" . -}}
<div class="container">
    {{ .Content }}
    {{- partial "contact-form.html" . -}}
    {{- partial "gallery.html" . -}}
    <div class="testimonial">
        <i class="fas fa-quote-right fa-3x quotes"></i>
        {{ $testimonials := site.Data.testimonials }}
        {{ range $testimonials }}
        {{ if eq .id "4" }}
        <p>{{ .testimonial}}</p>
        <h4>{{ .name }}</h4>
        <p>{{ .date }}</p>
      </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}