<div class="form-container">
    <div class="image-item">
        <img src="/images/contact/daisy-laptop.jpg"> 
    </div>

    <div class="form-item">
        <div class="email-btn">
            <a href="mailto:info@houndswelove.com">info@houndswelove.com</a>
        </div>
         
        <!--<form method="post" action="sendmail.php">     
            <input name="name" type="text" class="feedback-input" placeholder="Name" />   
            <input name="email" type="text" class="feedback-input" placeholder="Email" />
            <textarea name="text" class="feedback-input" placeholder="Message"></textarea>
            <input type="submit" value="SUBMIT"/>
          </form>-->
          
    </div>
</div>