<div class="etsy-grid">
    <a
        href="https://www.etsy.com/uk/listing/788806669/biothane-long-line-training-lead-various?ref=shop_home_active_1&sca=1">
        <div class="etsy-grid-item etsy-grid-item-1">
            <img src="/images/shop/biothane-long-line-training-lead.png" alt="Biothane Long Line Training Lead">
            <h4>Biothane Long Line Training Lead</h4>
            <p>£22.10</p>
        </div>
    </a>
    <a href="https://www.etsy.com/uk/listing/950922330/premium-navy-leather-dog-lead-leash?ref=shop_home_active_2">
        <div class="etsy-grid-item etsy-grid-item-2">
            <img src="/images/shop/premium-navy-leather-dog-lead.png" alt="Premium Navy Leather Dog Lead">
            <h4>Premium Navy Leather Dog Lead</h4>
            <p>£15.50</p>
        </div>
    </a>
    <a href="https://www.etsy.com/uk/listing/637146546/bright-yellow-biothane-dog-lead-vegan?ref=shop_home_active_3">
        <div class="etsy-grid-item etsy-grid-item-3">
            <img src="/images/shop/bright-yellow-biothane-dog-lead.png" alt="Bright Yellow Biothane Dog Lead - Vegan">
            <h4>Bright Yellow Biothane Dog Lead</h4>
            <p>£13.50</p>
        </div>
    </a>
    <a href="https://www.etsy.com/uk/listing/729492198/bright-lime-biothane-dog-lead-vegan?ref=shop_home_active_4">
        <div class="etsy-grid-item etsy-grid-item-4">
            <img src="/images/shop/bright-lime-biothane-dog-lead.png" alt="Bright Lime Biothane Dog Lead">
            <h4>Bright Lime Biothane Dog Lead</h4>
            <p>£13.50</p>
        </div>
    </a>
    <a href="https://www.etsy.com/uk/listing/630736366/premium-red-leather-dog-lead-leash?ref=shop_home_active_5">
        <div class="etsy-grid-item etsy-grid-item-5">
            <img src="/images/shop/premium-red-leather-dog-lead.png" alt="Premium Red Leather Dog Lead">
            <h4>Premium Red Leather Dog Lead</h4>
            <p>£13.50</p>
        </div>
    </a>
</div>