<div class="products-grid">

    <!--ROW 1-->
    <div class="item text-1">
        <h3>Easy Peasy Puppy Squeezy – Steve Mann</h3>

        <p>A great introduction to training, full of brilliant advice for prospective/puppy guardians.
            Highly recommended.
        </p>
        <p><a href="https://www.amazon.co.uk/Peasy-Puppy-Squeezy-step-step/dp/1788701607">Amazon</a> | <a
                href="https://www.waterstones.com/book/easy-peasy-puppy-squeezy/steve-mann/9781788701600">Watersones</a>
        </p>
    </div>
    <div class="item img-1"><a href="https://www.amazon.co.uk/Peasy-Puppy-Squeezy-step-step/dp/1788701607"><img
                src="/images/products/easy-peasy-puppy-squeezy.jpg"></a></div>

    <!--ROW 2-->

    <div class="item img-2"><a
            href="https://www.amazon.co.uk/Canine-Confidential-Dogs-What-They/dp/022643303X/ref=asc_df_022643303X/?tag=googshopuk-21&linkCode=df0&hvadid=310810203983&hvpos=&hvnetw=g&hvrand=9411958833025276879&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9045888&hvtargid=pla-448085726131&psc=1&th=1&psc=1"><img
                src="/images/products/canine-confidential.jpg"></a></div>
    <div class="item text-2">
        <h3>Canine Confidential – Marc Bekoff

        </h3>

        <p>
            Dr. Marc Bekoff has spent a lifetime studying dogs. Canine Confidential provides a fascinating insight into
            why dogs do what they do.
        </p>
        <p><a
                href="https://www.amazon.co.uk/Canine-Confidential-Dogs-What-They/dp/022643303X/ref=asc_df_022643303X/?tag=googshopuk-21&linkCode=df0&hvadid=310810203983&hvpos=&hvnetw=g&hvrand=9411958833025276879&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9045888&hvtargid=pla-448085726131&psc=1&th=1&psc=1">Amazon</a>
            | <a href="https://www.waterstones.com/book/canine-confidential/marc-bekoff/9780226755694">Waterstones</a>
        </p>
    </div>

    <!--ROW 3-->
    <div class="item text-3">
        <h3>Doggie Language - Lili Chin</h3>

        <p>A dog’s first language is body language. This beautifully illustrated book can help you speak and understand
            ‘Dog’. Essential reading for every dog guardian.
        </p>
        <p><a href="https://www.amazon.co.uk/Doggie-Language-Lovers-Understanding-Friend/dp/1787837017">Amazon</a> | <a
                href="https://www.waterstones.com/book/doggie-language/lili-chin/9781787837010">Watersones</a>
        </p>
    </div>

    <div class="item img-3"><a href="https://www.waterstones.com/book/doggie-language/lili-chin/9781787837010"><img
                src="/images/products/doggie-language.jpg"></a></div>

    <!--ROW 4-->

    <div class="item img-4"><a href="https://www.dog-games-shop.co.uk/perfect-fit-fleece-dog-harness.html"><img
                src="/images/products/perfect-fit-harness-2.jpg"></a></div>
    <div class="item text-4">
        <h3>Perfect Fit Harnesses</h3>

        <p>
            High quality, UK made harnesses. Perfect Fit’s unique modular design means that the harness does not need to
            be placed over the dog’s head when fitted.
        </p>
        <p><a href="https://www.dog-games-shop.co.uk/perfect-fit-fleece-dog-harness.html">www.dog-games.co.uk</a>

        </p>
    </div>

    <!--ROW 5-->
    <div class="item text-5">
        <h3>Ruffwear Harnesses</h3>

        <p>Ruffwear offer a big range of harnesses. This includes their ‘Webmaster’ design that prevents the dog backing
            out of their harness, and the ‘Hi and Light’, a very light and flexible harness. Our dogs wear these.
        </p>
        <p><a href="https://www.ruffwear.co.uk/collections/dog-harnesses">www.ruffwear.co.uk</a>
        </p>
    </div>

    <div class="item img-5"><a href="https://www.ruffwear.co.uk/collections/dog-harnesses"><img
                src="/images/products/ruffwear-harness.jpg"></a></div>

    <!--ROW 5-->

    <div class="item"><a href="/shop"><img src="/images/products/biothane-training-lines.jpg"></a></div>
    <div class="item text-5">
        <h3>HoundsWeLove BioThane Training Lines</h3>

        <p>Handmade to order at our home workshop, our premium
            BioThane long lines are strong, durable, vegan, waterproof and easy to clean.
        </p>
        <p><a href="/shop">www.houndswelove.com/shop</a>
        </p>
    </div>
    <!--ROW 5-->


    <div class="item text-5">
        <h3>HoundsWeLove Dog Leads</h3>

        <p>We also craft a range of high-quality leather and BioThane dog leads. Using the finest materials, our leads
            are stylish, yet functional. Each lead incorporates a ring within the handle so that your lead can
            conveniently be clipped around your neck whilst your dog is off lead.
        </p>
        <p><a href="/shop">www.houndswelove.com/shop</a>
        </p>
    </div>
    <div class="item"><a href="/shop"><img src="/images/products/yellow-lead.jpg"></a></div>

    <!--ROW 6-->

    <div class="item img-6"><a href="https://www.jrpetproducts.com"><img src="/images/products/turkey-pate.jpg"></a>
    </div>
    <div class="item text-6">
        <h3>Treats/Food Chews</h3>

        <p>
            Both these companies sell a wonderful range of natural, healthy treats and chews. Diced JR Pate is our go to
            training treat. The dogs love it!
        </p>
        <p><a href="https://www.jrpetproducts.com">www.jrpetproducts.com</a> | <a
                href="https://www.nurturingbynature.co.uk">www.nurturingbynature.co.uk</a>

        </p>
    </div>
    <!--ROW 5-->


    <div class="item text-5">
        <h3>Food Enrichment Toys</h3>

        <p>Make mealtimes fun and enriching for your dogs. We highly recommend the use of stuff-able toys, Licki and
            Snuffle mats.
        </p>
        <p><a href="#"></a>
        </p>
    </div>
    <div class="item"><a href="/shop"><img src="/images/products/food_enrichment_toys.jpg"></a></div>
    <!--ROW 7-->
    <div class="item img-7"><a href="https://www.tuffies.co.uk/browse/c-Nest-dog-beds-and-covers-4"><img
                src="/images/products/tuffies-dog-bed.png"></a></div>
    <div class="item text-7">
        <h3>Tuffies Dog Beds</h3>

        <p>High quality beds, handmade in Scotland. Available in a range of styles. Very durable and easy to clean.
        </p>
        <p><a href="https://www.tuffies.co.uk/browse/c-Nest-dog-beds-and-covers-4">www.tuffies.co.uk</a>
        </p>
    </div>



    <!--ROW 8-->


    <div class="item text-8">
        <h3>Tug E Nuff – Tug Toys</h3>

        <p>
            We can’t recommend these highly enough. Great for supercharging your dog’s recall. Small family run business
            from Devon.
        </p>
        <p><a href="https://www.tug-e-nuff.co.uk">www.tug-e-nuff.co.uk</a>

        </p>
    </div>
    <div class="item img-8"><a href="https://www.tug-e-nuff.co.uk"><img src="/images/products/tug-toy.png"></a></div>
    <!--ROW 9-->
    <div class="item img-9"><a href="https://www.puprepublic.co.uk"><img src="/images/products/treat-pouchies.png"></a>
    </div>
    <div class="item text-9">
        <h3>Pup Republic Treat Pouches</h3>

        <p>Great quality pouches with plenty of room for keys, phone and poo bags. UK based; small family run business.
        </p>
        <p><a href="https://www.puprepublic.co.uk">www.puprepublic.co.uk</a>
        </p>
    </div>



    <!--ROW 10-->


    <div class="item text-10">
        <h3>PetLife Dog Coats</h3>

        <p>
            Another super dog coat. Great value, Hi-Viz and waterproof.

        </p>
        <p><a
                href="https://www.petlifeonline.co.uk/product/dogs/hi-vis-dog-jackets/flecta-hi-vis-dog-jacket/">https://www.petlifeonline.co.uk</a>

        </p>
    </div>
    <div class="item img-10"><a
            href="https://www.petlifeonline.co.uk/product/dogs/hi-vis-dog-jackets/flecta-hi-vis-dog-jacket/"><img
                src="/images/products/pet-life-dog-coats.png"></a></div>
    <!--ROW 10-->

    <div class="item img-10"><a href="https://www.equafleece.co.uk/dogs/fleece/dog-coat"><img
                src="/images/products/dog-coat.jpg"></a></div>
    <div class="item text-10">
        <h3>Equa Fleece Dog Coats</h3>

        <p>
            Super coats. Warm, waterproof and easy to clean. Made in the UK.
            Choose the ‘Dog Coat’ version that can be clipped front and beneath.

        </p>
        <p><a href="https://www.equafleece.co.uk/dogs/fleece/dog-coat">www.equafleece.co.uk/dogs/fleece/dog-coat</a>

        </p>
    </div>

    <!--ROW 11-->

    <div class="item text-11">
        <h3>Feeding your dog</h3>
        <p>Not a product, but a highly recommend website -
            <a href="http://www.allaboutdogfood.co.uk"> www.allaboutdogfood.co.uk</a> is an excellent independent
            website site that reviews all dog foods available for sale within the UK.</p>

        </p>
    </div>
    <div class="item img-11"><a href="http://www.allaboutdogfood.co.uk"><img
                src="/images/products/all_about_dog_food.jpg"></a></div>



</div>
<!--end of grid-->