<section class="cd-hero js-cd-hero js-cd-autoplay">
    <ul class="cd-hero__slider">
        <li class="cd-hero__slide cd-hero__slide--selected js-cd-slide">
            <div class="cd-hero__content cd-hero__content--full-width hero-1">
            </div> <!-- .cd-hero__content -->
        </li>
        <li class="cd-hero__slide js-cd-slide">
            <div class="cd-hero__content cd-hero__content--full-width hero-2">
               
            </div> <!-- .cd-hero__content -->
        </li>
        <li class="cd-hero__slide js-cd-slide">
            <div class="cd-hero__content cd-hero__content--full-width hero-3">
                
            </div> <!-- .cd-hero__content -->
        </li>
        <li class="cd-hero__slide js-cd-slide">
            <div class="cd-hero__content cd-hero__content--full-width hero-4">
                
            </div> <!-- .cd-hero__content -->
        </li>
       
    </ul> <!-- .cd-hero__slider -->

    <div class="cd-hero__nav js-cd-nav">
        <nav>
            <span class="cd-hero__marker cd-hero__marker--item-1 js-cd-marker"></span>
            
            <ul>
                <li class="cd-selected"><a href="#0">.</a></li>
                <li><a href="#0">.</a></li>
                <li><a href="#0">.</a></li>
                <li><a href="#0">.</a></li>
               
            </ul>
        </nav> 
    </div> <!-- .cd-hero__nav -->
</section> <!-- .cd-hero -->